body {
text-align:cen;
margin:0;
pading:0;
}

.par {
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;
padding-top:11vh ;
width:100%;

}
p {
margin: 40px auto;
}
img {
padding:30px;
width:130px;
height:45px;
}
#log {
margin-top:20px;
width:360px;
height:40px;
border:0px;
background-color:rgb(24,120,243);
border-radius: 10px;
color:rgb(253, 255, 255);
}
#acc {
background-color:rgb(0,164,0);
border:0px ;
width:200px;
height:35px;
border-radius:10px;
color:rgb(253, 255, 255);


}
#fp{
text-decoration:none;
color:rgb(133,161,205);

}
.bua{
height:100px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-between;

}

input {
width: 360px;
height:40px;
margin:4px;
border:2px solid rgb(221,221,222) ;
padding-left:20px;
background-color:rgb(245,246,248,);
border-radius:10px;
}
